 <div class="container">
 	<div class="row">
 			<div class="font_test">
<!-- ここから -->
 				<div class="bg_test">
   			 <div class="bg_test-text">
<!-- ここまで画像の背景です -->
 				<h1>筋肉を自慢して最高の筋肉を投稿し競い合いましょう</h1>

 				<p>筋肉がまだ無い人でも筋肉を好きになって欲しいです</p>

 			    </div>
				</div>
 			</div>
 		</div>
 	</div>
 </div>