// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-top{
	position: relative;
}
.video-top-back{
	position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}

